$background_main: white;

$admin_theme_color_1: #142e43;
$admin_theme_color_2: #141414;
$admin_theme_color_3: #2c3e50;
$admin_theme_color_4: #152d43;
$admin_theme_color_5: #152d43;
$admin_theme_color_6: #152d43;

$theme_color_1: #142e43;
$theme_color_2: #141414;
$theme_color_3: #2c3e50;
$theme_color_4: #152d43;
$theme_color_5: #152d43;
$theme_color_6: #152d43;

$warning_bg: #856404;
$warning_color: #fff3cd;
$success_bg: #155724;
$success_color: #c3e6cb;
$error_bg: #721c24;
$error_color: #f8d7da;

$color_is_active: darkorange;
$color_is_hover: dodgerblue;
$color_link: #42b983;
$color_text: #2c3e50;

$header_main_height: 50px;
$padding_app_all: 10px;
$sidebar_builder_maxwidth: 320px;
