$background_main: white;
$admin_theme_colorz_1: #142e43;
$admin_theme_colorz_2: #141414;
$admin_theme_colorz_3: #2c3e50;
$admin_theme_colorz_4: #152d43;
$admin_theme_colorz_5: #152d43;
$admin_theme_colorz_6: #152d43;
$color_is_active: darkorange;
$color_is_hover: dodgerblue;
$color_link: #42b983;
$color_text: $admin_theme_colorz_3;
$header_main_height: 50px;
$padding_app_all: 10px;
$sidebar_builder_maxwidth: 320px;
